# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env/
.venv/

# IDE / Editor settings
.vscode/
.idea/

# macOS / Windows files
.DS_Store
Thumbs.db

# Python cache and logs
*.log
*.pot
*.pyc
*.pyo
*.pyd

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Test reports
.coverage
.tox/
nosetests.xml
coverage.xml
*.cover
*.py,cover

# PyInstaller
*.manifest
*.spec

# MyPy
.mypy_cache/

# Pylint
pylint-report.txt
pylint-output.txt
